<h1>Pruebas</h1>

<h2><%= @saludo %></h2>


<h2>Dias de la semana</h2>
<% @lista.each do |elemento| %>
    <%= elemento %>
    <br>
<%end%>


<h2>Calendario</h2>
<table>
    <thead>
    <tr>
    <th>Dia</th>
    <th>Numero</th>
    </tr>
    </thead>
    <tbody>
        <% @diccionario.each do |dia, numero| %>
        <tr>
        <td><%= dia %></td>
        <td><%= numero %></td>
        </tr>
        <% end %>
    </tbody>
</table>